h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffe65c;
    text-align: center;
    font-size: 36px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffe65c;
    text-align: center;
    font-size: 20px;
}

li {
    margin: 10px;
    width: 50;
    justify-content: center;
}


ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
}

a{
    list-style: none;
    text-decoration: none;
}

.btn {
    background-color: rgb(255, 240, 100);
    color: white;
    border: none;
    padding: 20px 40px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
    width: 350px;
    max-width: 100%;
}

.btn:hover{
    background-color: rgb(255, 106, 106);
}